<%-include("partials/header.ejs");-%>

<h1>Hei <%= user.name %></h1>

<img src="<%= user.picture %>" alt="">

<a href="/logout" class="btn btn-dark">Sign Out</a> 

<script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>


<%-include("partials/footer.ejs");-%>