<%- include('partials/header') %>
  <div class="jumbotron centered">
    <div class="container">
      <i class="fab fa-phoenix-framework fa-6x"></i>
      <h1 class="display-3">Dokumentasjon av rammeverk</h1>
      <hr>
    <div class="brukte-rammeverk">
      <p class="lead">Brukte Rammeverk</p>
        <li>Bootstrap</li>
        <li>Node.js</li>
        <li>Fontawesome</li>
        <li>Mongoose</li>
        <li>MongoDB</li>
      </div>
      <hr>
    <div class="sikkerhet">
        <p class="lead">Risikoanalyse</p>
        <li>Sjekker om brukeren finnes i DB for å komme til secret</li>
        <li>Bruker DB encryption</li>
        <li>Bruker Mongoose encryption</li>
    </div>
      <hr>  
      <p class="lead">Dokumentasjon</p>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Logg inn side</a>
    </div>
  </div>

  <%- include('partials/footer') %>