<%-include("partials/header-signin.ejs");-%>

<form class="form-signin">
    <img class="mb-4 bilde" src="Img/Huggern.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal title-text">Logg inn</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="g-signin2 btn" data-onsuccess="onSignIn"></div>
    <a href="#" class="btn btn-dark"onclick="signOut();">Logg ut</a>

    <p class="mt-5 mb-3 foorter-text">© 2022 - Ram</p>
  </form>
  

    <script>

    function onSignIn(googleUser) {
      let id_token = googleUser.getAuthResponse().id_token;
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/login");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function() {
        if (xhr.responseText === "Success") {
          signOut();
          location.assign("/dashboard");
        }
      };
      xhr.send(JSON.stringify({token: id_token}));
    }
    </script>



<script>
    function signOut() {
      let auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }
  </script>


<%-include("partials/footer.ejs");-%>