<%-include("partials/header-signin.ejs");-%>

<form class="form-signin">
    <img class="mb-4 bilde" src="Img/Huggern.png" alt="Bilde av Huggern">
    <h1 class="h3 mb-3 fw-normal title-text">Logg inn med oAuth 2.0</h1>

    <div class="g-signin2 btn" data-onsuccess="onSignIn"></div>

    <p class="mt-5 mb-3 foorter-text">© 2022 - Ram</p>
</form>
  

    <script>

    function onSignIn(googleUser) {
      let id_token = googleUser.getAuthResponse().id_token;
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/login");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function() {
        if (xhr.responseText === "Success") {
          signOut();
          location.assign("/dashboard");
        }
      };
      xhr.send(JSON.stringify({token: id_token}));
    }
    </script>





<%-include("partials/footer.ejs");-%>