html {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #A7ABDD;
}

.username-dashboard {
    margin-left: 2%;
}

.btn-signout-dashboard {
    right: 0;
    margin: 1%;
    position: absolute;
    top: 0;
}

.user-picture {
    margin-left: 10%;
    border-radius: 50%;
}
