html, body {
    font-family: 'Poppins', sans-serif;
}

.username-dashboard {
    margin-left: 2%;
}

.btn-signout-dashboard {
    right: 0;
    margin: 1%;
    position: absolute;
    top: 0;
}

#user-picture {
    margin-left: 10%;
    border-radius: 50%;
}

#email-dashboard {
    margin-left: 20%;
}

.footer-text {
    margin-top: 10%;
    bottom: 0;
}

footer {
    text-align: center;
}

i {
    font-size: 2rem;
    cursor: pointer;
}

.btn:hover {
    color: yellow;
}

.table {
    margin-top: 5%;
    margin-bottom: 5%;
}